.news {
    margin: var(--margin);
}

.news__slidercontainer {
    width: 100%;
    height: 100%;
}

.news__namedate {
    font-style: italic;
}

.news__slider {
    margin: var(--margin);
    height: 40em;
}


.news__slideimage {
    width: 90%; 
    max-height: 90%;
    object-fit: cover; 
  }